In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
app_df = pd.read_csv("charity_data.csv")
app_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
df = app_df.drop(columns=['EIN','NAME'])

In [3]:
df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [4]:
# Determine the number of unique values in each column.
df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
application_types = df['APPLICATION_TYPE'].value_counts()
application_types

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = [index for index,row in application_types.items() if row < 500]

# Replace in dataframe
for app in application_types_to_replace:
    df['APPLICATION_TYPE'] = df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HEREclassification_types = df['CLASSIFICATION'].value_counts()
classification_types = df['CLASSIFICATION'].value_counts()
classification_types

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
[[index,row] for index,row in classification_types.items() if row > 1]

[['C1000', 17326],
 ['C2000', 6074],
 ['C1200', 4837],
 ['C3000', 1918],
 ['C2100', 1883],
 ['C7000', 777],
 ['C1700', 287],
 ['C4000', 194],
 ['C5000', 116],
 ['C1270', 114],
 ['C2700', 104],
 ['C2800', 95],
 ['C7100', 75],
 ['C1300', 58],
 ['C1280', 50],
 ['C1230', 36],
 ['C1400', 34],
 ['C7200', 32],
 ['C2300', 32],
 ['C1240', 30],
 ['C8000', 20],
 ['C7120', 18],
 ['C1500', 16],
 ['C1800', 15],
 ['C6000', 15],
 ['C1250', 14],
 ['C8200', 11],
 ['C1238', 10],
 ['C1278', 10],
 ['C1235', 9],
 ['C1237', 9],
 ['C7210', 7],
 ['C2400', 6],
 ['C1720', 6],
 ['C4100', 6],
 ['C1257', 5],
 ['C1600', 5],
 ['C1260', 3],
 ['C2710', 3],
 ['C0', 3],
 ['C3200', 2],
 ['C1234', 2],
 ['C1246', 2],
 ['C1267', 2],
 ['C1256', 2]]

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = [index for index,row in classification_types.items() if row < classification_types.mean()]

# Replace in dataframe
for cls in classifications_to_replace:
    app_df['CLASSIFICATION'] = app_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
app_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: count, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies = pd.get_dummies(df[['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS']])
processed_df = pd.concat([df[['STATUS', 'ASK_AMT']], dummies], axis=1)

In [11]:
# Split our preprocessed data into our features and target arrays
X = processed_df
y = df['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    test_size=.2,
                                                    random_state=42)

print(f"X_train Shape: {X_train.shape}, X_test Shape: {X_test.shape}")

X_train Shape: (27439, 108), X_test Shape: (6860, 108)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
model = tf.keras.models.Sequential()

# First hidden layer
model.add(tf.keras.layers.Dense(units=5, activation="tanh", input_dim=X_train_scaled.shape[1]))

# Second hidden layer
model.add(tf.keras.layers.Dense(units=3, activation='tanh'))

# Output layer
model.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 5)                 545

 dense_1 (Dense)             (None, 3)                 18

 dense_2 (Dense)             (None, 1)                 4

=================================================================
Total params: 567 (2.21 KB)
Trainable params: 567 (2.21 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [14]:
# Compile the model
model.compile(loss="BinaryCrossentropy", optimizer="adam", metrics=['accuracy', 'mse'])

In [15]:
# Train the model
fit_model = model.fit(X_train_scaled, y_train, epochs=100, validation_data=(X_test_scaled, y_test))

Epoch 1/100
858/858 [==============================] - 4s 3ms/step - loss: 0.5895 - accuracy: 0.7085 - mse: 0.2009 - val_loss: 0.5726 - val_accuracy: 0.7182 - val_mse: 0.1934
Epoch 2/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5631 - accuracy: 0.7256 - mse: 0.1895 - val_loss: 0.5678 - val_accuracy: 0.7208 - val_mse: 0.1913
Epoch 3/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5590 - accuracy: 0.7283 - mse: 0.1878 - val_loss: 0.5664 - val_accuracy: 0.7188 - val_mse: 0.1910
Epoch 4/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5569 - accuracy: 0.7271 - mse: 0.1870 - val_loss: 0.5646 - val_accuracy: 0.7206 - val_mse: 0.1902
Epoch 5/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5557 - accuracy: 0.7280 - mse: 0.1866 - val_loss: 0.5635 - val_accuracy: 0.7214 - val_mse: 0.1898
Epoch 6/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5546 - accuracy: 0.7299 - mse: 0.1862 - val_loss: 0.5629 - val_accuracy: 0.7220 - val_mse: 0.1895
Epoch 7/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5539 - accuracy: 0.7290 - mse: 0.1859 - val_loss: 0.5621 - val_accuracy: 0.7235 - val_mse: 0.1893
Epoch 8/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5532 - accuracy: 0.7298 - mse: 0.1857 - val_loss: 0.5610 - val_accuracy: 0.7222 - val_mse: 0.1888
Epoch 9/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5522 - accuracy: 0.7304 - mse: 0.1853 - val_loss: 0.5604 - val_accuracy: 0.7274 - val_mse: 0.1886
Epoch 10/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5517 - accuracy: 0.7297 - mse: 0.1852 - val_loss: 0.5600 - val_accuracy: 0.7259 - val_mse: 0.1884
Epoch 11/100
858/858 [==============================] - 4s 5ms/step - loss: 0.5511 - accuracy: 0.7313 - mse: 0.1850 - val_loss: 0.5614 - val_accuracy: 0.7276 - val_mse: 0.1889
Epoch 12/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5504 - accuracy: 0.7314 - mse: 0.1848 - val_loss: 0.5588 - val_accuracy: 0.7265 - val_mse: 0.1880
Epoch 13/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5499 - accuracy: 0.7321 - mse: 0.1846 - val_loss: 0.5592 - val_accuracy: 0.7268 - val_mse: 0.1881
Epoch 14/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5496 - accuracy: 0.7326 - mse: 0.1845 - val_loss: 0.5579 - val_accuracy: 0.7293 - val_mse: 0.1876
Epoch 15/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5490 - accuracy: 0.7322 - mse: 0.1843 - val_loss: 0.5576 - val_accuracy: 0.7264 - val_mse: 0.1876
Epoch 16/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5489 - accuracy: 0.7322 - mse: 0.1843 - val_loss: 0.5568 - val_accuracy: 0.7290 - val_mse: 0.1872
Epoch 17/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5484 - accuracy: 0.7328 - mse: 0.1841 - val_loss: 0.5576 - val_accuracy: 0.7236 - val_mse: 0.1876
Epoch 18/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5478 - accuracy: 0.7324 - mse: 0.1839 - val_loss: 0.5566 - val_accuracy: 0.7273 - val_mse: 0.1873
Epoch 19/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5476 - accuracy: 0.7329 - mse: 0.1839 - val_loss: 0.5578 - val_accuracy: 0.7262 - val_mse: 0.1876
Epoch 20/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5474 - accuracy: 0.7335 - mse: 0.1838 - val_loss: 0.5564 - val_accuracy: 0.7286 - val_mse: 0.1872
Epoch 21/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5472 - accuracy: 0.7337 - mse: 0.1837 - val_loss: 0.5558 - val_accuracy: 0.7286 - val_mse: 0.1870
Epoch 22/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5466 - accuracy: 0.7336 - mse: 0.1835 - val_loss: 0.5563 - val_accuracy: 0.7292 - val_mse: 0.1871
Epoch 23/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5463 - accuracy: 0.7334 - mse: 0.1833 - val_loss: 0.5559 - val_accuracy: 0.7251 - val_mse: 0.1870
Epoch 24/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5462 - accuracy: 0.7330 - mse: 0.1834 - val_loss: 0.5558 - val_accuracy: 0.7278 - val_mse: 0.1870
Epoch 25/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5459 - accuracy: 0.7331 - mse: 0.1833 - val_loss: 0.5558 - val_accuracy: 0.7278 - val_mse: 0.1870
Epoch 26/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5455 - accuracy: 0.7335 - mse: 0.1831 - val_loss: 0.5576 - val_accuracy: 0.7264 - val_mse: 0.1876
Epoch 27/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7335 - mse: 0.1832 - val_loss: 0.5562 - val_accuracy: 0.7273 - val_mse: 0.1872
Epoch 28/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7336 - mse: 0.1831 - val_loss: 0.5562 - val_accuracy: 0.7268 - val_mse: 0.1872
Epoch 29/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7335 - mse: 0.1830 - val_loss: 0.5560 - val_accuracy: 0.7281 - val_mse: 0.1871
Epoch 30/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7343 - mse: 0.1828 - val_loss: 0.5573 - val_accuracy: 0.7254 - val_mse: 0.1877
Epoch 31/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5451 - accuracy: 0.7345 - mse: 0.1830 - val_loss: 0.5557 - val_accuracy: 0.7270 - val_mse: 0.1870
Epoch 32/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5444 - accuracy: 0.7340 - mse: 0.1827 - val_loss: 0.5557 - val_accuracy: 0.7283 - val_mse: 0.1870
Epoch 33/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5449 - accuracy: 0.7331 - mse: 0.1829 - val_loss: 0.5565 - val_accuracy: 0.7251 - val_mse: 0.1873
Epoch 34/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5444 - accuracy: 0.7340 - mse: 0.1827 - val_loss: 0.5555 - val_accuracy: 0.7270 - val_mse: 0.1869
Epoch 35/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7345 - mse: 0.1826 - val_loss: 0.5569 - val_accuracy: 0.7243 - val_mse: 0.1875
Epoch 36/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7340 - mse: 0.1827 - val_loss: 0.5550 - val_accuracy: 0.7276 - val_mse: 0.1867
Epoch 37/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7348 - mse: 0.1826 - val_loss: 0.5552 - val_accuracy: 0.7270 - val_mse: 0.1867
Epoch 38/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7342 - mse: 0.1825 - val_loss: 0.5554 - val_accuracy: 0.7274 - val_mse: 0.1869
Epoch 39/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7338 - mse: 0.1825 - val_loss: 0.5567 - val_accuracy: 0.7267 - val_mse: 0.1873
Epoch 40/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7345 - mse: 0.1826 - val_loss: 0.5547 - val_accuracy: 0.7277 - val_mse: 0.1866
Epoch 41/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7342 - mse: 0.1825 - val_loss: 0.5553 - val_accuracy: 0.7274 - val_mse: 0.1868
Epoch 42/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7353 - mse: 0.1824 - val_loss: 0.5557 - val_accuracy: 0.7268 - val_mse: 0.1870
Epoch 43/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7349 - mse: 0.1824 - val_loss: 0.5552 - val_accuracy: 0.7276 - val_mse: 0.1868
Epoch 44/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7346 - mse: 0.1824 - val_loss: 0.5554 - val_accuracy: 0.7273 - val_mse: 0.1869
Epoch 45/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7340 - mse: 0.1824 - val_loss: 0.5554 - val_accuracy: 0.7276 - val_mse: 0.1869
Epoch 46/100
858/858 [==============================] - 3s 4ms/step - loss: 0.5433 - accuracy: 0.7353 - mse: 0.1823 - val_loss: 0.5558 - val_accuracy: 0.7262 - val_mse: 0.1870
Epoch 47/100

858/858 [==============================] - 3s 4ms/step - loss: 0.5432 - accuracy: 0.7346 - mse: 0.1822 - val_loss: 0.5563 - val_accuracy: 0.7281 - val_mse: 0.1872
Epoch 48/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7349 - mse: 0.1823 - val_loss: 0.5554 - val_accuracy: 0.7277 - val_mse: 0.1869
Epoch 49/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5432 - accuracy: 0.7345 - mse: 0.1823 - val_loss: 0.5555 - val_accuracy: 0.7278 - val_mse: 0.1870
Epoch 50/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7348 - mse: 0.1822 - val_loss: 0.5561 - val_accuracy: 0.7277 - val_mse: 0.1871
Epoch 51/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7350 - mse: 0.1823 - val_loss: 0.5553 - val_accuracy: 0.7271 - val_mse: 0.1869
Epoch 52/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5432 - accuracy: 0.7351 - mse: 0.1823 - val_loss: 0.5552 - val_accuracy: 0.7274 - val_mse: 0.1869
Epoch 53/100
858/858 [==============================] - 3s 4ms/step - loss: 0.5430 - accuracy: 0.7348 - mse: 0.1822 - val_loss: 0.5553 - val_accuracy: 0.7281 - val_mse: 0.1869
Epoch 54/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7348 - mse: 0.1821 - val_loss: 0.5568 - val_accuracy: 0.7283 - val_mse: 0.1874
Epoch 55/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5428 - accuracy: 0.7358 - mse: 0.1821 - val_loss: 0.5555 - val_accuracy: 0.7299 - val_mse: 0.1870
Epoch 56/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7350 - mse: 0.1821 - val_loss: 0.5560 - val_accuracy: 0.7284 - val_mse: 0.1871
Epoch 57/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7350 - mse: 0.1821 - val_loss: 0.5549 - val_accuracy: 0.7299 - val_mse: 0.1866
Epoch 58/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7352 - mse: 0.1821 - val_loss: 0.5551 - val_accuracy: 0.7294 - val_mse: 0.1867
Epoch 59/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5427 - accuracy: 0.7352 - mse: 0.1821 - val_loss: 0.5544 - val_accuracy: 0.7303 - val_mse: 0.1865
Epoch 60/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5427 - accuracy: 0.7352 - mse: 0.1821 - val_loss: 0.5554 - val_accuracy: 0.7297 - val_mse: 0.1869
Epoch 61/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7354 - mse: 0.1821 - val_loss: 0.5547 - val_accuracy: 0.7299 - val_mse: 0.1866
Epoch 62/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5426 - accuracy: 0.7352 - mse: 0.1820 - val_loss: 0.5554 - val_accuracy: 0.7305 - val_mse: 0.1869
Epoch 63/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7362 - mse: 0.1821 - val_loss: 0.5547 - val_accuracy: 0.7294 - val_mse: 0.1866
Epoch 64/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7357 - mse: 0.1820 - val_loss: 0.5556 - val_accuracy: 0.7280 - val_mse: 0.1869
Epoch 65/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7352 - mse: 0.1819 - val_loss: 0.5552 - val_accuracy: 0.7286 - val_mse: 0.1869
Epoch 66/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7354 - mse: 0.1820 - val_loss: 0.5547 - val_accuracy: 0.7277 - val_mse: 0.1866
Epoch 67/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7352 - mse: 0.1820 - val_loss: 0.5555 - val_accuracy: 0.7278 - val_mse: 0.1869
Epoch 68/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7349 - mse: 0.1820 - val_loss: 0.5552 - val_accuracy: 0.7290 - val_mse: 0.1868
Epoch 69/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7359 - mse: 0.1819 - val_loss: 0.5549 - val_accuracy: 0.7283 - val_mse: 0.1867
Epoch 70/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7352 - mse: 0.1819 - val_loss: 0.5553 - val_accuracy: 0.7283 - val_mse: 0.1869
Epoch 71/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7349 - mse: 0.1819 - val_loss: 0.5547 - val_accuracy: 0.7278 - val_mse: 0.1866
Epoch 72/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7347 - mse: 0.1819 - val_loss: 0.5551 - val_accuracy: 0.7297 - val_mse: 0.1867
Epoch 73/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5422 - accuracy: 0.7348 - mse: 0.1819 - val_loss: 0.5540 - val_accuracy: 0.7283 - val_mse: 0.1864
Epoch 74/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5422 - accuracy: 0.7361 - mse: 0.1819 - val_loss: 0.5545 - val_accuracy: 0.7284 - val_mse: 0.1866
Epoch 75/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5419 - accuracy: 0.7358 - mse: 0.1818 - val_loss: 0.5551 - val_accuracy: 0.7283 - val_mse: 0.1867
Epoch 76/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7352 - mse: 0.1819 - val_loss: 0.5548 - val_accuracy: 0.7284 - val_mse: 0.1867
Epoch 77/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7350 - mse: 0.1818 - val_loss: 0.5543 - val_accuracy: 0.7280 - val_mse: 0.1864
Epoch 78/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7353 - mse: 0.1818 - val_loss: 0.5550 - val_accuracy: 0.7286 - val_mse: 0.1867
Epoch 79/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7354 - mse: 0.1818 - val_loss: 0.5548 - val_accuracy: 0.7284 - val_mse: 0.1866
Epoch 80/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7352 - mse: 0.1818 - val_loss: 0.5550 - val_accuracy: 0.7280 - val_mse: 0.1867
Epoch 81/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7352 - mse: 0.1818 - val_loss: 0.5542 - val_accuracy: 0.7284 - val_mse: 0.1864
Epoch 82/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7356 - mse: 0.1817 - val_loss: 0.5562 - val_accuracy: 0.7278 - val_mse: 0.1872
Epoch 83/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7358 - mse: 0.1817 - val_loss: 0.5551 - val_accuracy: 0.7278 - val_mse: 0.1868
Epoch 84/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7351 - mse: 0.1817 - val_loss: 0.5547 - val_accuracy: 0.7287 - val_mse: 0.1866
Epoch 85/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7356 - mse: 0.1817 - val_loss: 0.5542 - val_accuracy: 0.7280 - val_mse: 0.1864
Epoch 86/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7352 - mse: 0.1815 - val_loss: 0.5537 - val_accuracy: 0.7276 - val_mse: 0.1862
Epoch 87/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7354 - mse: 0.1816 - val_loss: 0.5540 - val_accuracy: 0.7283 - val_mse: 0.1863
Epoch 88/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7348 - mse: 0.1817 - val_loss: 0.5542 - val_accuracy: 0.7283 - val_mse: 0.1864
Epoch 89/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7357 - mse: 0.1816 - val_loss: 0.5547 - val_accuracy: 0.7286 - val_mse: 0.1866
Epoch 90/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5415 - accuracy: 0.7355 - mse: 0.1816 - val_loss: 0.5545 - val_accuracy: 0.7283 - val_mse: 0.1865
Epoch 91/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7355 - mse: 0.1816 - val_loss: 0.5546 - val_accuracy: 0.7277 - val_mse: 0.1865
Epoch 92/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7356 - mse: 0.1816 - val_loss: 0.5554 - val_accuracy: 0.7278 - val_mse: 0.1868
Epoch 93/100

858/858 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7350 - mse: 0.1817 - val_loss: 0.5539 - val_accuracy: 0.7287 - val_mse: 0.1863
Epoch 94/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7358 - mse: 0.1815 - val_loss: 0.5542 - val_accuracy: 0.7289 - val_mse: 0.1864
Epoch 95/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5413 - accuracy: 0.7354 - mse: 0.1815 - val_loss: 0.5538 - val_accuracy: 0.7294 - val_mse: 0.1862
Epoch 96/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7347 - mse: 0.1815 - val_loss: 0.5544 - val_accuracy: 0.7289 - val_mse: 0.1865
Epoch 97/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7345 - mse: 0.1815 - val_loss: 0.5545 - val_accuracy: 0.7296 - val_mse: 0.1865
Epoch 98/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5413 - accuracy: 0.7353 - mse: 0.1816 - val_loss: 0.5543 - val_accuracy: 0.7290 - val_mse: 0.1864
Epoch 99/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7356 - mse: 0.1815 - val_loss: 0.5539 - val_accuracy: 0.7281 - val_mse: 0.1862
Epoch 100/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7348 - mse: 0.1815 - val_loss: 0.5538 - val_accuracy: 0.7283 - val_mse: 0.1863

In [16]:
# Evaluate the model using the test data
model.evaluate(X_test_scaled, y_test)

215/215 [==============================] - 0s 2ms/step - loss: 0.5538 - accuracy: 0.7283 - mse: 0.1863

[0.553793728351593, 0.7282798886299133, 0.1862620860338211]

In [17]:
# Export our model to HDF5 file
model.save("AlphabetSoupCharity_Optimization2.h5")

C:\Users\wnaiy\anaconda3\envs\ml\lib\site-packages\keras\src\engine\training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(