## Preprocessing

In [11]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
app_df = pd.read_csv("charity_data.csv")
app_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [12]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
df = app_df.drop(columns=['EIN','NAME'])

In [13]:
df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [14]:
# Determine the number of unique values in each column.
df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [15]:
# Look at APPLICATION_TYPE value counts for binning
application_types = df['APPLICATION_TYPE'].value_counts()
application_types

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [16]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = [index for index,row in application_types.items() if row < 500]

# Replace in dataframe
for app in application_types_to_replace:
    df['APPLICATION_TYPE'] = df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [17]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HEREclassification_types = df['CLASSIFICATION'].value_counts()
classification_types = df['CLASSIFICATION'].value_counts()
classification_types

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [18]:
# You may find it helpful to look at CLASSIFICATION value counts >1
[[index,row] for index,row in classification_types.items() if row > 1]

[['C1000', 17326],
 ['C2000', 6074],
 ['C1200', 4837],
 ['C3000', 1918],
 ['C2100', 1883],
 ['C7000', 777],
 ['C1700', 287],
 ['C4000', 194],
 ['C5000', 116],
 ['C1270', 114],
 ['C2700', 104],
 ['C2800', 95],
 ['C7100', 75],
 ['C1300', 58],
 ['C1280', 50],
 ['C1230', 36],
 ['C1400', 34],
 ['C7200', 32],
 ['C2300', 32],
 ['C1240', 30],
 ['C8000', 20],
 ['C7120', 18],
 ['C1500', 16],
 ['C1800', 15],
 ['C6000', 15],
 ['C1250', 14],
 ['C8200', 11],
 ['C1238', 10],
 ['C1278', 10],
 ['C1235', 9],
 ['C1237', 9],
 ['C7210', 7],
 ['C2400', 6],
 ['C1720', 6],
 ['C4100', 6],
 ['C1257', 5],
 ['C1600', 5],
 ['C1260', 3],
 ['C2710', 3],
 ['C0', 3],
 ['C3200', 2],
 ['C1234', 2],
 ['C1246', 2],
 ['C1267', 2],
 ['C1256', 2]]

In [20]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = [index for index,row in classification_types.items() if row < classification_types.mean()]

# Replace in dataframe
for cls in classifications_to_replace:
    app_df['CLASSIFICATION'] = app_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
app_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: count, dtype: int64

In [21]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies = pd.get_dummies(df[['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS']])
processed_df = pd.concat([df[['STATUS', 'ASK_AMT']], dummies], axis=1)

In [22]:
# Split our preprocessed data into our features and target arrays
X = processed_df
y = df['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    test_size=.2,
                                                    random_state=42)

print(f"X_train Shape: {X_train.shape}, X_test Shape: {X_test.shape}")

X_train Shape: (27439, 108), X_test Shape: (6860, 108)

In [23]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [24]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
model = tf.keras.models.Sequential()

# First hidden layer
model.add(tf.keras.layers.Dense(units=5, activation="tanh", input_dim=X_train_scaled.shape[1]))

# Second hidden layer
model.add(tf.keras.layers.Dense(units=3, activation='tanh'))

# Output layer
model.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 5)                 545

 dense_1 (Dense)             (None, 3)                 18

 dense_2 (Dense)             (None, 1)                 4

=================================================================
Total params: 567 (2.21 KB)
Trainable params: 567 (2.21 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [25]:
# Compile the model
model.compile(loss="BinaryCrossentropy", optimizer="adam", metrics=['accuracy', 'mse'])

In [26]:
# Train the model
fit_model = model.fit(X_train_scaled, y_train, epochs=100, validation_data=(X_test_scaled, y_test))

Epoch 1/100
858/858 [==============================] - 4s 4ms/step - loss: 0.6085 - accuracy: 0.6843 - mse: 0.2096 - val_loss: 0.5750 - val_accuracy: 0.7204 - val_mse: 0.1943
Epoch 2/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5624 - accuracy: 0.7308 - mse: 0.1890 - val_loss: 0.5663 - val_accuracy: 0.7232 - val_mse: 0.1908
Epoch 3/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5561 - accuracy: 0.7314 - mse: 0.1867 - val_loss: 0.5641 - val_accuracy: 0.7227 - val_mse: 0.1900
Epoch 4/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5535 - accuracy: 0.7326 - mse: 0.1858 - val_loss: 0.5633 - val_accuracy: 0.7248 - val_mse: 0.1897
Epoch 5/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5526 - accuracy: 0.7319 - mse: 0.1855 - val_loss: 0.5614 - val_accuracy: 0.7236 - val_mse: 0.1890
Epoch 6/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5515 - accuracy: 0.7319 - mse: 0.1851 - val_loss: 0.5614 - val_accuracy: 0.7251 - val_mse: 0.1891
Epoch 7/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5506 - accuracy: 0.7318 - mse: 0.1849 - val_loss: 0.5608 - val_accuracy: 0.7258 - val_mse: 0.1889
Epoch 8/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5498 - accuracy: 0.7311 - mse: 0.1846 - val_loss: 0.5611 - val_accuracy: 0.7257 - val_mse: 0.1889
Epoch 9/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5497 - accuracy: 0.7322 - mse: 0.1845 - val_loss: 0.5596 - val_accuracy: 0.7276 - val_mse: 0.1884
Epoch 10/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5490 - accuracy: 0.7321 - mse: 0.1843 - val_loss: 0.5595 - val_accuracy: 0.7262 - val_mse: 0.1884
Epoch 11/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5487 - accuracy: 0.7326 - mse: 0.1842 - val_loss: 0.5598 - val_accuracy: 0.7246 - val_mse: 0.1885
Epoch 12/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5482 - accuracy: 0.7324 - mse: 0.1840 - val_loss: 0.5597 - val_accuracy: 0.7283 - val_mse: 0.1885
Epoch 13/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5480 - accuracy: 0.7321 - mse: 0.1840 - val_loss: 0.5599 - val_accuracy: 0.7264 - val_mse: 0.1885
Epoch 14/100
858/858 [==============================] - 4s 4ms/step - loss: 0.5478 - accuracy: 0.7322 - mse: 0.1839 - val_loss: 0.5594 - val_accuracy: 0.7245 - val_mse: 0.1884
Epoch 15/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5473 - accuracy: 0.7325 - mse: 0.1837 - val_loss: 0.5594 - val_accuracy: 0.7262 - val_mse: 0.1883
Epoch 16/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5474 - accuracy: 0.7323 - mse: 0.1838 - val_loss: 0.5592 - val_accuracy: 0.7265 - val_mse: 0.1883
Epoch 17/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5469 - accuracy: 0.7329 - mse: 0.1836 - val_loss: 0.5582 - val_accuracy: 0.7242 - val_mse: 0.1877
Epoch 18/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5467 - accuracy: 0.7325 - mse: 0.1835 - val_loss: 0.5586 - val_accuracy: 0.7262 - val_mse: 0.1880
Epoch 19/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5464 - accuracy: 0.7327 - mse: 0.1834 - val_loss: 0.5580 - val_accuracy: 0.7276 - val_mse: 0.1877
Epoch 20/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5461 - accuracy: 0.7333 - mse: 0.1833 - val_loss: 0.5578 - val_accuracy: 0.7243 - val_mse: 0.1876
Epoch 21/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5461 - accuracy: 0.7318 - mse: 0.1833 - val_loss: 0.5576 - val_accuracy: 0.7270 - val_mse: 0.1875
Epoch 22/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5459 - accuracy: 0.7322 - mse: 0.1832 - val_loss: 0.5577 - val_accuracy: 0.7242 - val_mse: 0.1877
Epoch 23/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5461 - accuracy: 0.7320 - mse: 0.1833 - val_loss: 0.5566 - val_accuracy: 0.7286 - val_mse: 0.1872
Epoch 24/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5455 - accuracy: 0.7329 - mse: 0.1831 - val_loss: 0.5573 - val_accuracy: 0.7294 - val_mse: 0.1874
Epoch 25/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5456 - accuracy: 0.7322 - mse: 0.1831 - val_loss: 0.5576 - val_accuracy: 0.7283 - val_mse: 0.1875
Epoch 26/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5455 - accuracy: 0.7325 - mse: 0.1831 - val_loss: 0.5566 - val_accuracy: 0.7293 - val_mse: 0.1871
Epoch 27/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5452 - accuracy: 0.7317 - mse: 0.1829 - val_loss: 0.5570 - val_accuracy: 0.7296 - val_mse: 0.1872
Epoch 28/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5453 - accuracy: 0.7329 - mse: 0.1830 - val_loss: 0.5569 - val_accuracy: 0.7297 - val_mse: 0.1872
Epoch 29/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5453 - accuracy: 0.7320 - mse: 0.1830 - val_loss: 0.5569 - val_accuracy: 0.7292 - val_mse: 0.1872
Epoch 30/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5450 - accuracy: 0.7328 - mse: 0.1829 - val_loss: 0.5564 - val_accuracy: 0.7303 - val_mse: 0.1870
Epoch 31/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5453 - accuracy: 0.7320 - mse: 0.1830 - val_loss: 0.5564 - val_accuracy: 0.7305 - val_mse: 0.1870
Epoch 32/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5451 - accuracy: 0.7331 - mse: 0.1829 - val_loss: 0.5573 - val_accuracy: 0.7283 - val_mse: 0.1874
Epoch 33/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5450 - accuracy: 0.7322 - mse: 0.1829 - val_loss: 0.5565 - val_accuracy: 0.7277 - val_mse: 0.1871
Epoch 34/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5450 - accuracy: 0.7329 - mse: 0.1829 - val_loss: 0.5566 - val_accuracy: 0.7284 - val_mse: 0.1871
Epoch 35/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7337 - mse: 0.1828 - val_loss: 0.5560 - val_accuracy: 0.7302 - val_mse: 0.1868
Epoch 36/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5448 - accuracy: 0.7326 - mse: 0.1829 - val_loss: 0.5557 - val_accuracy: 0.7278 - val_mse: 0.1867
Epoch 37/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5447 - accuracy: 0.7325 - mse: 0.1828 - val_loss: 0.5562 - val_accuracy: 0.7281 - val_mse: 0.1869
Epoch 38/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7327 - mse: 0.1828 - val_loss: 0.5572 - val_accuracy: 0.7293 - val_mse: 0.1873
Epoch 39/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7328 - mse: 0.1828 - val_loss: 0.5562 - val_accuracy: 0.7305 - val_mse: 0.1869
Epoch 40/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7334 - mse: 0.1827 - val_loss: 0.5557 - val_accuracy: 0.7299 - val_mse: 0.1867
Epoch 41/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5445 - accuracy: 0.7337 - mse: 0.1827 - val_loss: 0.5563 - val_accuracy: 0.7273 - val_mse: 0.1869
Epoch 42/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5446 - accuracy: 0.7336 - mse: 0.1828 - val_loss: 0.5562 - val_accuracy: 0.7305 - val_mse: 0.1868
Epoch 43/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7329 - mse: 0.1827 - val_loss: 0.5550 - val_accuracy: 0.7292 - val_mse: 0.1864
Epoch 44/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7328 - mse: 0.1827 - val_loss: 0.5556 - val_accuracy: 0.7302 - val_mse: 0.1867
Epoch 45/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7330 - mse: 0.1827 - val_loss: 0.5550 - val_accuracy: 0.7290 - val_mse: 0.1864
Epoch 46/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7327 - mse: 0.1826 - val_loss: 0.5565 - val_accuracy: 0.7308 - val_mse: 0.1870
Epoch 47/100

858/858 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7332 - mse: 0.1826 - val_loss: 0.5550 - val_accuracy: 0.7302 - val_mse: 0.1864
Epoch 48/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5439 - accuracy: 0.7330 - mse: 0.1825 - val_loss: 0.5569 - val_accuracy: 0.7300 - val_mse: 0.1872
Epoch 49/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5439 - accuracy: 0.7321 - mse: 0.1825 - val_loss: 0.5560 - val_accuracy: 0.7293 - val_mse: 0.1867
Epoch 50/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5440 - accuracy: 0.7325 - mse: 0.1826 - val_loss: 0.5554 - val_accuracy: 0.7296 - val_mse: 0.1865
Epoch 51/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7337 - mse: 0.1825 - val_loss: 0.5559 - val_accuracy: 0.7309 - val_mse: 0.1867
Epoch 52/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7326 - mse: 0.1825 - val_loss: 0.5552 - val_accuracy: 0.7297 - val_mse: 0.1865
Epoch 53/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5438 - accuracy: 0.7323 - mse: 0.1825 - val_loss: 0.5547 - val_accuracy: 0.7308 - val_mse: 0.1863
Epoch 54/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5437 - accuracy: 0.7333 - mse: 0.1824 - val_loss: 0.5554 - val_accuracy: 0.7309 - val_mse: 0.1865
Epoch 55/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7329 - mse: 0.1825 - val_loss: 0.5553 - val_accuracy: 0.7309 - val_mse: 0.1865
Epoch 56/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7324 - mse: 0.1823 - val_loss: 0.5557 - val_accuracy: 0.7296 - val_mse: 0.1866
Epoch 57/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5436 - accuracy: 0.7329 - mse: 0.1824 - val_loss: 0.5550 - val_accuracy: 0.7299 - val_mse: 0.1863
Epoch 58/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5435 - accuracy: 0.7333 - mse: 0.1824 - val_loss: 0.5554 - val_accuracy: 0.7276 - val_mse: 0.1865
Epoch 59/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5436 - accuracy: 0.7325 - mse: 0.1824 - val_loss: 0.5550 - val_accuracy: 0.7315 - val_mse: 0.1863
Epoch 60/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5434 - accuracy: 0.7331 - mse: 0.1823 - val_loss: 0.5551 - val_accuracy: 0.7313 - val_mse: 0.1863
Epoch 61/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7322 - mse: 0.1824 - val_loss: 0.5558 - val_accuracy: 0.7306 - val_mse: 0.1867
Epoch 62/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5433 - accuracy: 0.7336 - mse: 0.1823 - val_loss: 0.5557 - val_accuracy: 0.7299 - val_mse: 0.1866
Epoch 63/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7336 - mse: 0.1822 - val_loss: 0.5548 - val_accuracy: 0.7302 - val_mse: 0.1862
Epoch 64/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5433 - accuracy: 0.7338 - mse: 0.1823 - val_loss: 0.5551 - val_accuracy: 0.7306 - val_mse: 0.1863
Epoch 65/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7339 - mse: 0.1823 - val_loss: 0.5552 - val_accuracy: 0.7306 - val_mse: 0.1863
Epoch 66/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7336 - mse: 0.1822 - val_loss: 0.5554 - val_accuracy: 0.7306 - val_mse: 0.1864
Epoch 67/100
858/858 [==============================] - 3s 4ms/step - loss: 0.5430 - accuracy: 0.7338 - mse: 0.1822 - val_loss: 0.5558 - val_accuracy: 0.7294 - val_mse: 0.1865
Epoch 68/100
858/858 [==============================] - 3s 4ms/step - loss: 0.5431 - accuracy: 0.7340 - mse: 0.1823 - val_loss: 0.5557 - val_accuracy: 0.7313 - val_mse: 0.1865
Epoch 69/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5429 - accuracy: 0.7336 - mse: 0.1821 - val_loss: 0.5558 - val_accuracy: 0.7297 - val_mse: 0.1866
Epoch 70/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7341 - mse: 0.1822 - val_loss: 0.5555 - val_accuracy: 0.7310 - val_mse: 0.1864
Epoch 71/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5429 - accuracy: 0.7342 - mse: 0.1821 - val_loss: 0.5560 - val_accuracy: 0.7290 - val_mse: 0.1868
Epoch 72/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7341 - mse: 0.1822 - val_loss: 0.5556 - val_accuracy: 0.7316 - val_mse: 0.1865
Epoch 73/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7344 - mse: 0.1822 - val_loss: 0.5548 - val_accuracy: 0.7305 - val_mse: 0.1862
Epoch 74/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5429 - accuracy: 0.7344 - mse: 0.1821 - val_loss: 0.5546 - val_accuracy: 0.7316 - val_mse: 0.1861
Epoch 75/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5430 - accuracy: 0.7341 - mse: 0.1822 - val_loss: 0.5551 - val_accuracy: 0.7305 - val_mse: 0.1862
Epoch 76/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7345 - mse: 0.1821 - val_loss: 0.5548 - val_accuracy: 0.7313 - val_mse: 0.1861
Epoch 77/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5427 - accuracy: 0.7345 - mse: 0.1821 - val_loss: 0.5554 - val_accuracy: 0.7322 - val_mse: 0.1864
Epoch 78/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7345 - mse: 0.1821 - val_loss: 0.5552 - val_accuracy: 0.7325 - val_mse: 0.1863
Epoch 79/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7342 - mse: 0.1821 - val_loss: 0.5551 - val_accuracy: 0.7324 - val_mse: 0.1862
Epoch 80/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5428 - accuracy: 0.7345 - mse: 0.1821 - val_loss: 0.5552 - val_accuracy: 0.7319 - val_mse: 0.1863
Epoch 81/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7347 - mse: 0.1820 - val_loss: 0.5558 - val_accuracy: 0.7305 - val_mse: 0.1866
Epoch 82/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5425 - accuracy: 0.7345 - mse: 0.1820 - val_loss: 0.5551 - val_accuracy: 0.7324 - val_mse: 0.1862
Epoch 83/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5426 - accuracy: 0.7351 - mse: 0.1821 - val_loss: 0.5560 - val_accuracy: 0.7303 - val_mse: 0.1866
Epoch 84/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5426 - accuracy: 0.7341 - mse: 0.1820 - val_loss: 0.5554 - val_accuracy: 0.7328 - val_mse: 0.1864
Epoch 85/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7350 - mse: 0.1820 - val_loss: 0.5554 - val_accuracy: 0.7334 - val_mse: 0.1863
Epoch 86/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5425 - accuracy: 0.7342 - mse: 0.1820 - val_loss: 0.5558 - val_accuracy: 0.7319 - val_mse: 0.1865
Epoch 87/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7345 - mse: 0.1821 - val_loss: 0.5559 - val_accuracy: 0.7315 - val_mse: 0.1865
Epoch 88/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5425 - accuracy: 0.7346 - mse: 0.1820 - val_loss: 0.5554 - val_accuracy: 0.7329 - val_mse: 0.1863
Epoch 89/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7349 - mse: 0.1819 - val_loss: 0.5552 - val_accuracy: 0.7322 - val_mse: 0.1862
Epoch 90/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7337 - mse: 0.1820 - val_loss: 0.5555 - val_accuracy: 0.7324 - val_mse: 0.1864
Epoch 91/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7343 - mse: 0.1820 - val_loss: 0.5571 - val_accuracy: 0.7312 - val_mse: 0.1868
Epoch 92/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7346 - mse: 0.1820 - val_loss: 0.5563 - val_accuracy: 0.7303 - val_mse: 0.1867
Epoch 93/100

858/858 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7340 - mse: 0.1820 - val_loss: 0.5558 - val_accuracy: 0.7322 - val_mse: 0.1864
Epoch 94/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7343 - mse: 0.1819 - val_loss: 0.5559 - val_accuracy: 0.7328 - val_mse: 0.1865
Epoch 95/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5421 - accuracy: 0.7357 - mse: 0.1819 - val_loss: 0.5556 - val_accuracy: 0.7319 - val_mse: 0.1864
Epoch 96/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5421 - accuracy: 0.7346 - mse: 0.1819 - val_loss: 0.5559 - val_accuracy: 0.7316 - val_mse: 0.1865
Epoch 97/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5423 - accuracy: 0.7345 - mse: 0.1820 - val_loss: 0.5552 - val_accuracy: 0.7316 - val_mse: 0.1862
Epoch 98/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7338 - mse: 0.1819 - val_loss: 0.5560 - val_accuracy: 0.7315 - val_mse: 0.1865
Epoch 99/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7349 - mse: 0.1819 - val_loss: 0.5555 - val_accuracy: 0.7321 - val_mse: 0.1863
Epoch 100/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7346 - mse: 0.1819 - val_loss: 0.5560 - val_accuracy: 0.7312 - val_mse: 0.1865

In [27]:
# Evaluate the model using the test data
model.evaluate(X_test_scaled, y_test)

215/215 [==============================] - 0s 2ms/step - loss: 0.5560 - accuracy: 0.7312 - mse: 0.1865

[0.5559774041175842, 0.731195330619812, 0.18653635680675507]

In [31]:
# Export our model to HDF5 file
model.save("AlphabetSoupCharity_Optimization.h5")