In [1]:
## Preprocessing

# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
app_df = pd.read_csv("charity_data.csv")
app_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
df = app_df.drop(columns=['EIN','NAME'])

df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
df.nunique()

# Look at APPLICATION_TYPE value counts for binning
application_types = df['APPLICATION_TYPE'].value_counts()
application_types

# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = [index for index,row in application_types.items() if row < 500]

# Replace in dataframe
for app in application_types_to_replace:
    df['APPLICATION_TYPE'] = df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
df['APPLICATION_TYPE'].value_counts()

# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HEREclassification_types = df['CLASSIFICATION'].value_counts()
classification_types = df['CLASSIFICATION'].value_counts()
classification_types

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [4]:
# You may find it helpful to look at CLASSIFICATION value counts >1
[[index,row] for index,row in classification_types.items() if row > 1]

# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = [index for index,row in classification_types.items() if row < classification_types.mean()]

# Replace in dataframe
for cls in classifications_to_replace:
    app_df['CLASSIFICATION'] = app_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
app_df['CLASSIFICATION'].value_counts()

# Convert categorical data to numeric with `pd.get_dummies`
dummies = pd.get_dummies(df[['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS']])
processed_df = pd.concat([df[['STATUS', 'ASK_AMT']], dummies], axis=1)

# Split our preprocessed data into our features and target arrays
X = processed_df
y = df['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    test_size=.2,
                                                    random_state=42)

print(f"X_train Shape: {X_train.shape}, X_test Shape: {X_test.shape}")

X_train Shape: (27439, 108), X_test Shape: (6860, 108)

In [5]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [6]:
model = tf.keras.models.load_model('optimized_model2.h5')

In [ ]:
# Compile the model
model.compile(loss="BinaryCrossentropy", optimizer="adam", metrics=['accuracy', 'mse'])

# Train the model
fit_model = model.fit(X_train_scaled, y_train, epochs=100, validation_data=(X_test_scaled, y_test))

Epoch 1/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7343 - mse: 0.1815 - val_loss: 0.5564 - val_accuracy: 0.7290 - val_mse: 0.1868
Epoch 2/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7347 - mse: 0.1815 - val_loss: 0.5553 - val_accuracy: 0.7292 - val_mse: 0.1865
Epoch 3/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7342 - mse: 0.1815 - val_loss: 0.5554 - val_accuracy: 0.7278 - val_mse: 0.1865
Epoch 4/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7350 - mse: 0.1815 - val_loss: 0.5553 - val_accuracy: 0.7290 - val_mse: 0.1864
Epoch 5/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7348 - mse: 0.1814 - val_loss: 0.5562 - val_accuracy: 0.7290 - val_mse: 0.1868
Epoch 6/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7346 - mse: 0.1815 - val_loss: 0.5555 - val_accuracy: 0.7292 - val_mse: 0.1866
Epoch 7/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7348 - mse: 0.1814 - val_loss: 0.5559 - val_accuracy: 0.7286 - val_mse: 0.1868
Epoch 8/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7353 - mse: 0.1815 - val_loss: 0.5556 - val_accuracy: 0.7268 - val_mse: 0.1866
Epoch 9/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7352 - mse: 0.1815 - val_loss: 0.5551 - val_accuracy: 0.7287 - val_mse: 0.1864
Epoch 10/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5406 - accuracy: 0.7349 - mse: 0.1815 - val_loss: 0.5554 - val_accuracy: 0.7284 - val_mse: 0.1865
Epoch 11/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7350 - mse: 0.1815 - val_loss: 0.5552 - val_accuracy: 0.7286 - val_mse: 0.1865
Epoch 12/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5406 - accuracy: 0.7353 - mse: 0.1815 - val_loss: 0.5557 - val_accuracy: 0.7283 - val_mse: 0.1866
Epoch 13/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7356 - mse: 0.1814 - val_loss: 0.5555 - val_accuracy: 0.7296 - val_mse: 0.1866
Epoch 14/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7350 - mse: 0.1814 - val_loss: 0.5555 - val_accuracy: 0.7286 - val_mse: 0.1866
Epoch 15/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5403 - accuracy: 0.7348 - mse: 0.1813 - val_loss: 0.5554 - val_accuracy: 0.7264 - val_mse: 0.1865
Epoch 16/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5403 - accuracy: 0.7350 - mse: 0.1814 - val_loss: 0.5555 - val_accuracy: 0.7293 - val_mse: 0.1865
Epoch 17/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7355 - mse: 0.1814 - val_loss: 0.5558 - val_accuracy: 0.7294 - val_mse: 0.1866
Epoch 18/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7347 - mse: 0.1814 - val_loss: 0.5560 - val_accuracy: 0.7286 - val_mse: 0.1867
Epoch 19/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7354 - mse: 0.1814 - val_loss: 0.5556 - val_accuracy: 0.7290 - val_mse: 0.1866
Epoch 20/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7356 - mse: 0.1814 - val_loss: 0.5555 - val_accuracy: 0.7265 - val_mse: 0.1866
Epoch 21/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7350 - mse: 0.1813 - val_loss: 0.5560 - val_accuracy: 0.7293 - val_mse: 0.1866
Epoch 22/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7354 - mse: 0.1814 - val_loss: 0.5549 - val_accuracy: 0.7276 - val_mse: 0.1862
Epoch 23/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7354 - mse: 0.1814 - val_loss: 0.5554 - val_accuracy: 0.7289 - val_mse: 0.1864
Epoch 24/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7350 - mse: 0.1813 - val_loss: 0.5557 - val_accuracy: 0.7296 - val_mse: 0.1866
Epoch 25/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7354 - mse: 0.1813 - val_loss: 0.5556 - val_accuracy: 0.7281 - val_mse: 0.1865
Epoch 26/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7354 - mse: 0.1813 - val_loss: 0.5553 - val_accuracy: 0.7287 - val_mse: 0.1865
Epoch 27/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7353 - mse: 0.1812 - val_loss: 0.5556 - val_accuracy: 0.7277 - val_mse: 0.1865
Epoch 28/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7349 - mse: 0.1813 - val_loss: 0.5559 - val_accuracy: 0.7287 - val_mse: 0.1866
Epoch 29/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5402 - accuracy: 0.7358 - mse: 0.1813 - val_loss: 0.5560 - val_accuracy: 0.7278 - val_mse: 0.1866
Epoch 30/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7353 - mse: 0.1813 - val_loss: 0.5557 - val_accuracy: 0.7294 - val_mse: 0.1865
Epoch 31/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7353 - mse: 0.1812 - val_loss: 0.5561 - val_accuracy: 0.7293 - val_mse: 0.1866
Epoch 32/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7356 - mse: 0.1813 - val_loss: 0.5560 - val_accuracy: 0.7290 - val_mse: 0.1866
Epoch 33/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7353 - mse: 0.1813 - val_loss: 0.5563 - val_accuracy: 0.7289 - val_mse: 0.1868
Epoch 34/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5401 - accuracy: 0.7354 - mse: 0.1813 - val_loss: 0.5578 - val_accuracy: 0.7278 - val_mse: 0.1872
Epoch 35/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5402 - accuracy: 0.7358 - mse: 0.1813 - val_loss: 0.5564 - val_accuracy: 0.7296 - val_mse: 0.1867
Epoch 36/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5401 - accuracy: 0.7359 - mse: 0.1813 - val_loss: 0.5556 - val_accuracy: 0.7274 - val_mse: 0.1865
Epoch 37/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7359 - mse: 0.1812 - val_loss: 0.5564 - val_accuracy: 0.7287 - val_mse: 0.1868
Epoch 38/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5401 - accuracy: 0.7359 - mse: 0.1813 - val_loss: 0.5567 - val_accuracy: 0.7280 - val_mse: 0.1868
Epoch 39/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5401 - accuracy: 0.7354 - mse: 0.1813 - val_loss: 0.5563 - val_accuracy: 0.7289 - val_mse: 0.1867
Epoch 40/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5401 - accuracy: 0.7358 - mse: 0.1813 - val_loss: 0.5566 - val_accuracy: 0.7277 - val_mse: 0.1869
Epoch 41/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7360 - mse: 0.1813 - val_loss: 0.5562 - val_accuracy: 0.7277 - val_mse: 0.1867
Epoch 42/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7363 - mse: 0.1812 - val_loss: 0.5564 - val_accuracy: 0.7277 - val_mse: 0.1868
Epoch 43/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7363 - mse: 0.1812 - val_loss: 0.5560 - val_accuracy: 0.7278 - val_mse: 0.1866
Epoch 44/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7357 - mse: 0.1813 - val_loss: 0.5562 - val_accuracy: 0.7294 - val_mse: 0.1867
Epoch 45/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7362 - mse: 0.1812 - val_loss: 0.5569 - val_accuracy: 0.7276 - val_mse: 0.1869
Epoch 46/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7360 - mse: 0.1812 - val_loss: 0.5563 - val_accuracy: 0.7287 - val_mse: 0.1867
Epoch 47/100

858/858 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7362 - mse: 0.1812 - val_loss: 0.5565 - val_accuracy: 0.7280 - val_mse: 0.1868
Epoch 48/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5398 - accuracy: 0.7359 - mse: 0.1812 - val_loss: 0.5566 - val_accuracy: 0.7294 - val_mse: 0.1868
Epoch 49/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5398 - accuracy: 0.7364 - mse: 0.1812 - val_loss: 0.5560 - val_accuracy: 0.7293 - val_mse: 0.1865
Epoch 50/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5397 - accuracy: 0.7359 - mse: 0.1811 - val_loss: 0.5558 - val_accuracy: 0.7292 - val_mse: 0.1865
Epoch 51/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7354 - mse: 0.1812 - val_loss: 0.5563 - val_accuracy: 0.7277 - val_mse: 0.1867
Epoch 52/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5398 - accuracy: 0.7365 - mse: 0.1812 - val_loss: 0.5558 - val_accuracy: 0.7290 - val_mse: 0.1865
Epoch 53/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5398 - accuracy: 0.7361 - mse: 0.1812 - val_loss: 0.5557 - val_accuracy: 0.7287 - val_mse: 0.1865
Epoch 54/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5398 - accuracy: 0.7363 - mse: 0.1812 - val_loss: 0.5575 - val_accuracy: 0.7284 - val_mse: 0.1870
Epoch 55/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7365 - mse: 0.1812 - val_loss: 0.5565 - val_accuracy: 0.7290 - val_mse: 0.1867
Epoch 56/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5398 - accuracy: 0.7365 - mse: 0.1811 - val_loss: 0.5570 - val_accuracy: 0.7274 - val_mse: 0.1869
Epoch 57/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7362 - mse: 0.1812 - val_loss: 0.5568 - val_accuracy: 0.7276 - val_mse: 0.1868
Epoch 58/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5397 - accuracy: 0.7360 - mse: 0.1811 - val_loss: 0.5564 - val_accuracy: 0.7278 - val_mse: 0.1867
Epoch 59/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7360 - mse: 0.1811 - val_loss: 0.5560 - val_accuracy: 0.7289 - val_mse: 0.1865
Epoch 60/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7363 - mse: 0.1811 - val_loss: 0.5570 - val_accuracy: 0.7273 - val_mse: 0.1869
Epoch 61/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7360 - mse: 0.1811 - val_loss: 0.5563 - val_accuracy: 0.7287 - val_mse: 0.1866
Epoch 62/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7364 - mse: 0.1811 - val_loss: 0.5562 - val_accuracy: 0.7286 - val_mse: 0.1866
Epoch 63/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7364 - mse: 0.1811 - val_loss: 0.5566 - val_accuracy: 0.7287 - val_mse: 0.1867
Epoch 64/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7366 - mse: 0.1811 - val_loss: 0.5578 - val_accuracy: 0.7287 - val_mse: 0.1872
Epoch 65/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7364 - mse: 0.1812 - val_loss: 0.5572 - val_accuracy: 0.7289 - val_mse: 0.1870
Epoch 66/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7363 - mse: 0.1812 - val_loss: 0.5565 - val_accuracy: 0.7289 - val_mse: 0.1867
Epoch 67/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7368 - mse: 0.1811 - val_loss: 0.5564 - val_accuracy: 0.7290 - val_mse: 0.1866
Epoch 68/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7367 - mse: 0.1811 - val_loss: 0.5571 - val_accuracy: 0.7270 - val_mse: 0.1870
Epoch 69/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7368 - mse: 0.1811 - val_loss: 0.5566 - val_accuracy: 0.7287 - val_mse: 0.1868
Epoch 70/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7370 - mse: 0.1811 - val_loss: 0.5567 - val_accuracy: 0.7290 - val_mse: 0.1868
Epoch 71/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7364 - mse: 0.1812 - val_loss: 0.5565 - val_accuracy: 0.7286 - val_mse: 0.1868
Epoch 72/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5397 - accuracy: 0.7362 - mse: 0.1811 - val_loss: 0.5566 - val_accuracy: 0.7290 - val_mse: 0.1868
Epoch 73/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5397 - accuracy: 0.7365 - mse: 0.1811 - val_loss: 0.5566 - val_accuracy: 0.7290 - val_mse: 0.1867
Epoch 74/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5397 - accuracy: 0.7358 - mse: 0.1811 - val_loss: 0.5564 - val_accuracy: 0.7287 - val_mse: 0.1867
Epoch 75/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5398 - accuracy: 0.7364 - mse: 0.1812 - val_loss: 0.5572 - val_accuracy: 0.7290 - val_mse: 0.1869
Epoch 76/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5398 - accuracy: 0.7367 - mse: 0.1811 - val_loss: 0.5565 - val_accuracy: 0.7289 - val_mse: 0.1867
Epoch 77/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7365 - mse: 0.1811 - val_loss: 0.5575 - val_accuracy: 0.7286 - val_mse: 0.1870
Epoch 78/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7363 - mse: 0.1811 - val_loss: 0.5573 - val_accuracy: 0.7287 - val_mse: 0.1870
Epoch 79/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5398 - accuracy: 0.7367 - mse: 0.1812 - val_loss: 0.5564 - val_accuracy: 0.7290 - val_mse: 0.1867
Epoch 80/100
752/858 [=========================>....] - ETA: 0s - loss: 0.5403 - accuracy: 0.7342 - mse: 0.1815

In [ ]:
# Evaluate the model and visualize performance on the test set
evaluate_metrics = model.evaluate(X_test_scaled, y_test)
print(f"Test Loss: {evaluate_metrics[0]}, Test Accuracy: {evaluate_metrics[1]}")


# Save the optimized model
model.save('optimized_model2.h5')